{% extends "StcwDeskBundle::layout.html.twig" %}

{% block intro %}
<!--

  	<div class="top">
    	<div class="container">
      	<div class="clearfix">
          <section id="gallery">
          	<div class="pics">
            	<img src="/images/slide1.jpg" alt="" width="495" height="329">
              <img src="/images/slide3.jpg" alt="" width="495" height="329">
              <img src="/images/slide2.jpg" alt="" width="495" height="329">
              <img src="/images/slide4.jpg" alt="" width="495" height="329">
              <img src="/images/slide5.jpg" alt="" width="495" height="329">
            </div>
            <a href="#" id="prev"></a>
            <a href="#" id="next"></a>
          </section>

<section id="intro">
          	<div class="inner">
          	  <h2>Seamanship<br /> And Navigation<span>formations</span></h2>
              <p>Fusce euismod consequat ante. Lorem ipsum dolor sit<br /> amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in ls ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit at euismod in, auctor ut, ligula. </p>
              <a href="#" class="extra-button">Read More</a>
          	</div>
          </section>
</div>
</div>
</div>
-->
{% endblock %}



{%block content %}
          	<h2>Welcome to the ENS website.</h2>
<h3>Seamanship, Navigation and Fire Fighting Formations</h3>
            <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede m aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortisissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
            <p><a href="#" class="more">Read More</a></p>
            <section class="images">
            	<figure><a href="#"><img src="/images/1page-img1.jpg" alt=""></a></figure>
              <figure><a href="#"><img src="/images/1page-img2.jpg" alt=""></a></figure>
              <figure><a href="#"><img src="/images/1page-img3.jpg" alt=""></a></figure>
            </section>
            {% endblock %}
            
